# Корреляция Пирсона

In [1]:
import pandas as pd
import numpy as np

## Foodmart product sales

In [2]:
born = pd.read_csv('illiteracy.txt', sep = '\t', header = 0)

In [3]:
born.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

## Взаимное влияние продуктов друг на друга

In [4]:
born_correlation = born.corr()

In [6]:
born_correlation

           Illit    Births
Illit   1.000000  0.768663
Births  0.768663  1.000000

In [9]:
born.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000