In [1]:
from sklearn import cross_validation, datasets, linear_model, metrics

import numpy as np

/anaconda/ipython2/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Генерация данных

In [3]:
import numpy as np
import pandas as pd
data = pd.read_csv('water.txt', sep = '\t')

In [4]:
data.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [5]:
from statsmodels.stats.weightstats import _zconfint_generic, _tconfint_generic

In [6]:
data.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [7]:
data.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [8]:
data[data['location']=='South'].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000

In [9]:
data[data['location']=='North'].corr()

           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

In [11]:
from statsmodels.stats.weightstats import zconfint

In [14]:
zconfint(data[data['location']=='North'].mortality)

(1588.2335708894593, 1678.9664291105405)

In [16]:
import scipy
scipy.stats.ttest_ind(data.mortality, data.hardness, equal_var = False)

Ttest_indResult(statistic=60.238771182107662, pvalue=1.0409293128921178e-58)

In [41]:
bar=pd.DataFrame({'women':[203,718],'men':[515,239]})

In [47]:
bar=pd.DataFrame({'women':[203,718],'men':[239,515]})

In [48]:
bar

   men  women
0  239    203
1  515    718

In [49]:
scipy.stats.chi2_contingency(bar)

(19.407530788543038,
 1.0558987006638725e-05,
 1,
 array([[ 198.96597015,  243.03402985],
        [ 555.03402985,  677.96597015]]))

In [44]:
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)

In [50]:
print "confidence interval: [%f, %f]" % proportions_confint_diff_ind(bar.men, bar.women)

confidence interval: [nan, nan]

/anaconda/ipython2/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:6: RuntimeWarning: invalid value encountered in sqrt
/anaconda/ipython2/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:7: RuntimeWarning: invalid value encountered in sqrt